html, body {
  /*background: red!important;*/ }

#logo, .nf-kb-nav-wrapper > .logo, #netflix-player .loading-view-v2 .header-container.with-logo .logo {
  background-image: url("chrome-extension://__MSG_@@extension_id__/imgs/logo.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  #logo:before, .nf-kb-nav-wrapper > .logo:before, #netflix-player .loading-view-v2 .header-container.with-logo .logo:before {
    content: ''; }

.nf-kb-nav-wrapper > .logo {
  height: 40px; }

.nineties-static {
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("chrome-extension://__MSG_@@extension_id__/imgs/vhs-static-glitch-o.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 2;
  transition: opacity 1s cubic-bezier(0.02, 0.01, 0.47, 1); }
  .nineties-static.more_there {
    opacity: 0.4; }

.nf-kb-nav-wrapper .player-controls-wrapper {
  display: none !important;
  opacity: 0 !important; }
.nf-kb-nav-wrapper .player-back-to-browsing {
  display: none; }
.nf-kb-nav-wrapper .playback-longpause-container {
  display: none; }
.nf-kb-nav-wrapper video {
  -webkit-filter: sepia(0.9) blur(1px) saturate(1.2) brightness(0.8) contrast(0.9) !important;
  transition: -webkit-filter 500ms ease-in; }
.nf-kb-nav-wrapper.more-blur video {
  -webkit-filter: sepia(1) blur(2px) saturate(1.2) brightness(0.8) contrast(1) !important; }

.nineties-player {
  position: absolute;
  bottom: 6em;
  left: 10%;
  width: 80%;
  opacity: 1;
  transition: opacity 400ms ease-out;
  z-index: 4;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  top: 70%;
  bottom: 0; }
  .nineties-player .nineties-player-inner-wrap {
    position: absolute;
    bottom: 20%;
    opacity: 0;
    transition: opacity 50ms ease-in; }
  .nineties-player:hover .nineties-player-inner-wrap {
    opacity: 1; }

.nineties-player-inner-wrap {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-order: 1;
  -ms-flex-order: 1;
  -moz-box-ordinal-group: 1;
  order: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  text-align: left;
  background: #262626;
  border-radius: 1em;
  margin: 0 auto;
  height: 7em;
  width: 80%;
  margin-top: 4.800000000000001em;
  box-shadow: 0 .2em .1em 0 #000;
  z-index: 2;
  font-size: 0.3em;
  width: 100%; }
  .nineties-player-inner-wrap .fa:first-child {
    border-left: 0; }
  .nineties-player-inner-wrap .fa:last-child {
    border-right: 0; }

.player-control-button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  font-family: "nf-icon";
  background: transparent;
  width: 2em;
  height: 100%;
  border-left: 1px solid #323232;
  border-right: 1px solid #151515;
  font-size: 2.8em;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-content: center;
  align-items: center;
  justify-content: center; }

.player-control-divider {
  -webkit-order: 5;
  -ms-flex-order: 5;
  -moz-box-ordinal-group: 5;
  border-right: 1px solid #151515;
  position: relative;
  flex: 1; }

.fa {
  padding: 0 10px;
  border: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  background: transparent;
  width: 2em;
  height: 100%;
  border-left: 1px solid #323232;
  border-right: 1px solid #151515;
  font-size: 2.8em;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-content: center;
  align-items: center;
  justify-content: center; }
  .fa:hover {
    opacity: 0.8; }

/*# sourceMappingURL=netflix.css.map */
